<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.zj22.gudao.server.web.dao.db.RebateMapper" >
  <resultMap id="BaseResultMap" type="me.zj22.gudao.server.web.dao.model.Rebate" >
    <id column="rebate_id" property="rebateId" jdbcType="INTEGER" />
    <result column="rebate_ratio" property="rebateRatio" jdbcType="DOUBLE" />
    <result column="available" property="available" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    rebate_id, rebate_ratio, available, create_time, create_user, update_time, update_user
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rebate
    where rebate_id = #{rebateId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from rebate
    where rebate_id = #{rebateId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="me.zj22.gudao.server.web.dao.model.Rebate" >
    insert into rebate (rebate_id, rebate_ratio, available, 
      create_time, create_user, update_time, 
      update_user)
    values (#{rebateId,jdbcType=INTEGER}, #{rebateRatio,jdbcType=DOUBLE}, #{available,jdbcType=TINYINT}, 
      #{createTime,jdbcType=BIGINT}, #{createUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=BIGINT}, 
      #{updateUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="me.zj22.gudao.server.web.dao.model.Rebate" >
    insert into rebate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rebateId != null" >
        rebate_id,
      </if>
      <if test="rebateRatio != null" >
        rebate_ratio,
      </if>
      <if test="available != null" >
        available,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rebateId != null" >
        #{rebateId,jdbcType=INTEGER},
      </if>
      <if test="rebateRatio != null" >
        #{rebateRatio,jdbcType=DOUBLE},
      </if>
      <if test="available != null" >
        #{available,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="me.zj22.gudao.server.web.dao.model.Rebate" >
    update rebate
    <set >
      <if test="rebateRatio != null" >
        rebate_ratio = #{rebateRatio,jdbcType=DOUBLE},
      </if>
      <if test="available != null" >
        available = #{available,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    where rebate_id = #{rebateId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="me.zj22.gudao.server.web.dao.model.Rebate" >
    update rebate
    set rebate_ratio = #{rebateRatio,jdbcType=DOUBLE},
      available = #{available,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=BIGINT},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=BIGINT},
      update_user = #{updateUser,jdbcType=VARCHAR}
    where rebate_id = #{rebateId,jdbcType=INTEGER}
  </update>
</mapper>