<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.zj22.gudao.server.web.dao.db.wrap.UserWrapperMapper" >
  <resultMap id="BaseResultMap" type="me.zj22.gudao.server.web.pojo.dto.User" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="head_img_url" property="headImgUrl" jdbcType="VARCHAR" />
    <result column="integral" property="integral" jdbcType="INTEGER" />
    <result column="total" property="total" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, openid, nickname, sex, country, province, city, head_img_url, integral, 
    total, create_time
  </sql>
  <select id="selectByOpenId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from `user`
    where openid = #{openid}
  </select>

  <select id="findAllWechatUser" resultMap="BaseResultMap" parameterType="me.zj22.gudao.server.web.pojo.vo.Page">
    SELECT
    user_id, openid, nickname, sex, country, province, city, head_img_url, integral,
    total, create_time
    FROM `user` ORDER BY create_time DESC limit #{start},#{rows}
  </select>

  <select id="findWechatUserCount" resultType="java.lang.Integer">
    SELECT COUNT(0) FROM `user`
  </select>

  <select id="findNicknameCount" resultType="java.lang.Integer" parameterType="me.zj22.gudao.server.web.pojo.vo.Page">
    SELECT COUNT(0) FROM `user` WHERE nickname LIKE CONCAT(CONCAT('%', #{keyWord}), '%')
  </select>

  <select id="findUserByName" resultMap="BaseResultMap" parameterType="me.zj22.gudao.server.web.pojo.vo.Page">
     SELECT
    user_id, openid, nickname, sex, country, province, city, head_img_url, integral,
    total, create_time
    FROM `user` WHERE nickname LIKE CONCAT(CONCAT('%', #{keyWord}), '%') limit #{start},#{rows}
  </select>

</mapper>